server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name andvieir.42.pt;

    ssl_certificate     /etc/nginx/ssl/nginx.crt;
    ssl_certificate_key /etc/nginx/ssl/nginx.key;

    ssl_protocols   TLSv1.2 TLSv1.3;

    root    /var/www/html;
    index   index.php index.nginx-debian.html;
}